body {
    background-color : #3C0000;
    color:#FFF;
    font-family: Palatino,Georgia,Times;
}
A:link    { color:#FF6; }
A:visited { color:#DD8; }
A:active  { color:#FF0; }

.title {
    background-color : #C00;
    color : #FFF;
    margin  : .5em 0em .5em 0em;
    padding : .14cm .14cm .14cm .4cm;
    border-style : solid;
    border-color : #000;
    border-width : 2px 2px 2px 2px;
    font-family : Baskerville,Georgia,Palatino,Times,Times New Roman;
    font-size : 2.4em;
    font-weight : bold;
}

.ruleset {
    margin : 1em 0em .5em 2em;
}
.ruleset-header {
    background-color:#A00;
    color:#FFF;
    padding : .14cm .14cm .14cm 1em;
    border-style : solid;
    border-color : #000;
    border-width : 1px;
    font-family : Baskerville,Georgia,Palatino,Times,Times New Roman;
    font-size : 1.6em;
    font-weight : normal;
}
.ruleset-summary {
	font-size : 11px;
	font-weight : bold;
}
.ruleset-body {
}

.foreach {
    margin : 1em 0em .5em 1.2em;
}
.foreach-header {
    background-color : #600;
    color : #FFF;
    padding : .14cm .14cm .14cm 1.2em;
    border : 2px 1px;
    border-style : solid;
    border-color : #000;
    border-width : 1px;
    font-family : Verdana,Geneva,Helvetica;
    font-size   : 1em;
    font-weight : bold;
}
.foreach-header .var {
    font-weight : normal;
}
.foreach-header .value {
    font-weight : bold;
}
.foreach-body {
}

.event {
    margin : .5em 1em .5em 1.2em;
    padding : .4em .7em .4em .7em;
    font-family : Verdana,Geneva,Helvetica;
    background-color : #460000;
}
.event-header {	
	font-size : 1em;
	text-align : left;
}
.event-header td {
    font-weight : normal;
}
.event-severity-error {
    float : right;
	padding : 2px 4px;
    margin : 0em 0em 0em 1em;
    font-family : Monaco,Geneva,Verdana;
	font-size : 9px;
	font-variant : caps;
	font-weight : bold;
	color : #000;
    border-style : solid;
    border-width : 1px;
	background-color : #F00;
    border-color : #200;
}
.event-severity-warning {
    float : right;
	padding : 2px 4px;
    margin : 0em 0em 0em 1em;
    font-family : Monaco,Geneva,Verdana;
	font-size : 9px;
	font-variant : caps;
	font-weight : bold;
	color : #000;
    border-style : solid;
    border-width : 1px;
	background-color : #CA0;
    border-color : #210;
}
.event-severity-info {
    float : right;
	padding : 2px 4px;
    margin : 0em 0em 0em 1em;
    font-family : Monaco,Geneva,Verdana;
	font-size : 9px;
	font-variant : caps;
	font-weight : bold;
	color : #000;
    border-style : solid;
    border-width : 1px;
	background-color : #666;
    border-color : #111;
}
.event-severity-ok {
    float : right;
	padding : 2px 4px;
    margin : 0em 0em 0em 1em;
    font-family : Monaco,Geneva,Verdana;
	font-size : 9px;
	font-variant : caps;
	font-weight : bold;
	color : #000;
    border-style : solid;
    border-width : 1px;
	background-color : #0A0;
    border-color : #030;
}
.event-body {
    font-size : 11px;
    color : #A88;
}
.event-body {
	padding : 0em .5em 0em 2em;
}
.event-body th {
    text-align : right;
    color : #777;
    font-weight : normal;
    padding : 0em 1em 0em 0em;
    font-size : 0.9em;
}
.event-body .package-name {
	color : #BAA;
	font-weight: normal;
    font-size : 0.9em;
}
.event-body .class-name {
	color : #BAA;
	font-weight: bold;
    font-size : 0.9em;
}

.bottom {
    color : #777;
    background : #000;
    margin : 2em 0em;
    padding : 4px 4px 4px .4cm;
    font-family : Verdana,Geneva,Helvetica;
    font-weight : bold;
    font-size : 10px;
}
.bottom A, .bottom A:link, .bottom A:visited {
    color : #BBB;
    text-decoration : none;
}
